:root {
    margin: o;
padding: 0;
}



.container {
    background: steelblue;
    display: flex;
    width: 200px;
    height: 200px;
    /* flex-direction: row; */
    flex-wrap: wrap;
    /* flex-flow: row wrap; */
    /* flex-wrap: wrap; */
/* Alineación del eje principal */
    justify-content: center;
/* Alineación del eje secundario */
    align-content: flex-end;
}
.item {
    width: 50%;
    height: 50px;
    background: #777;
    border: 2px solid black;

    /* margin-top: 10px;
    color: white; */   
}
