* {
  margin: 0;
  padding: 0;
}
.container {
  background-color: hotpink;
  width: 100%;
  height: 600px;
  margin: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-end;
}

.centrado {
    background-color: indigo;
    width: 100px;
    height: 100px;
    box-sizing: border-box;
}

.centrado:nth-child(6) {
    flex-direction: column;
    align-self: baseline;
}